<div class="navbar-messages">
    <div class="inside-navbar">
        <div class="right-navbar">
            <img class="iconLogo" src="/assets/logo-0c2f56c19ce72f26d5218629d6f128661f90017a86331090df23b2ac7751465a.svg">
            <img class="circle" src="https://expertphotography.com/wp-content/uploads/2020/08/social-media-profile-photos-9.jpg">
        </div>
        <p class="friend-name"><%= local_assigns[:name] %></p>
    </div>
</div>